---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Dustin Deus - Software Engineer"
---
<Layout pageTitle={pageTitle}>
    <div class="profile">
        <img height="230px" alt="technology" src="/profile.jpeg"/>
    </div>
    <h1>Dustin Deus</h1>
    <small>Co-Founder and Tech-Lead (WunderGraph)</small>
    <h2>About</h2>
    <p>
        Boasting over a decade of professional expertise in software engineering and research, I have honed my skills in architecting and executing innovative software solutions that align with market trends and demands. My enthusiasm is fueled by tackling challenging scenarios, unraveling complex problems, and collaborating with industry-leading minds.
    </p>
    <p>
        Currently, as the Co-Founder and Tech Lead at WunderGraph, I am pivotal in propelling the technical evolution of our groundbreaking GraphQL federation platform, <a href="https://cosmo-docs.wundergraph.com/">Cosmo</a>. This role entrusts me with leading our dynamic team and ensuring our platform not only meets but exceeds industry standards. I am dedicated to evolving our product into the premier choice for enterprises looking to efficiently scale and integrate their GraphQL APIs in diverse environments, including on-premises, cloud-based, or Kubernetes setups. This aligns perfectly with the current market focus on versatile, scalable, and efficient software solutions.
    </p>
    <div class="button">
        <a href="/works/">
            <button class="button">Hand-Selected Works.</button>
        </a>
    </div>
    <h2>Interests</h2>
    <p>
        In my free time, I enjoy collaborating with the open-source community. I am also the maintainer of several open-source projects.
        Visit me on GitHub <a href="https://github.com/StarpTech">StarpTech</a>.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fff;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    .profile {
        margin: 20px 0 0 0;
        text-align: center;
    }
    .profile img {
        border-radius: 50%;
        padding: 30px;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fff;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
